<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Easy" parallel="methods">
    <test name="Chrome tests">
        <parameter name="state1" value="Iowa"></parameter>
        <parameter name="state2" value="Alaska"></parameter>
        <parameter name="state3" value="Nevada"></parameter>
        <parameter name="state4" value="Colorado"></parameter>
        <parameter name="state5" value="Kansas"></parameter>
<!--        <parameter name="browser" value="chrome"></parameter>
        <parameter name="Port" value="5900"></parameter>-->
        <classes>
            <class name="com.seasy.ui.tests.form.SimpleFormTest"/>
<!--            <class name="AjaxSubmitFormTests"/>
            <class name="CheckBoxTests"/>
            <class name="DropDownTests"/>
            <class name="InputFormSubmitTests"/>
            <class name="JQuerySelectDropDownTests"/>
            <class name="RadioButtonPageTests"/>-->
        </classes>
    </test>
    <!--<test name="Single Input Field (Simple Form)">
        <classes>
            <class name="SimpleFormTest">
                <methods>
                    <include name="checkEmptyMessageTest"/>
                    <include name="checkYourMessageTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Two Input Fields (Simple Form)">
        <classes>
            <class name="SimpleFormTest">
                <methods>
                    <include name="checkTotalResultWithIntegerValuesTest"/>
                    <include name="checkTotalResultWithStringValuesTest"/>
                    <include name="checkTotalResultWithEmptyFieldsTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Single CheckBox (Check Box)">
        <classes>
            <class name="CheckBoxTests">
                <methods>
                    <include name="checkUnselectedCheckBox"/>
                    <include name="selectSingleCheckBoxTest"/>
                    <include name="checkUnselectedCheckBoxTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Multiple Check Boxes (Check Box)">
        <classes>
            <class name="CheckBoxTests">
                <methods>
                    <exclude name="checkMultipleCheckBox1IsSelected"/>
                    <include name="checkAllCheckboxesAreSelected"/>
                    <include name="checkOneCheckboxIsUnselected"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Single Radio Button (Radio Button)">
        <classes>
            <class name="RadioButtonPageTests">
                <methods>
                    <include name="selectedMaleRadioButton"/>
                    <include name="selectedFemaleRadioButton"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Single select Drop Down (Drop Down)">
        <parameter name="singleDayDropDown" value="Monday"/>
        <classes>
            <class name="DropDownTests">
                <methods>
                    <include name="checkSelectedDayFromDropDown"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Multi select Drop Down (Drop Down)">
        <classes>
            <class name="DropDownTests">
                <methods>
                    <exclude name="checkSelectedCity"/>
                </methods>
            </class>
        </classes>
    </test>-->
    <!-- Test -->
</suite>
<!-- Suite -->
